html {
    height: 100%;
}
body {
    height: 100%;
}

body {
    text-align: center;

}
form {
    display: inline-block;

}
/* unvisited link */
a:link {
  color: white;

}

/* visited link */
a:visited {
  color: #07F5E3  ;
}


.card7 : a:link,a:visited {
  color:red;
  background-color: red;
  }

/* selected link */
a:hover {
  color: hotpink;
  background-color: lightgreen;
}
a:active{
  color:red;
}
body, html {
  height: 100%;
  margin: 0;
}
#header{
  background-image: url('../images/pexels-pixabay-267885.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}




#box1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registration ,.FinancialResources,.PersonalDevelopmentResources,.Experience,.AddResources{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  rgba(239, 243, 249  ,0.90);
    width:auto;
    height:auto;
}

.newpage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  rgba(239, 243, 249  ,0.75);
    width:auto;
    height:100%;
    padding-top: 10px;
    padding-bottom:5px;
}

.boxheading {
box-shadow: 5px 10px 8px #888888;
  color:white;
  height:100px;
}




.menu{
  background-color: #042B8C   ;
  padding-top:5px;
  padding-bottom:5px;
  box-shadow: 5px 10px 8px #888888;
}

.container{

  background-color: rgba(255, 255, 255, 0.85);
  color:black;

}
.Personaldevhompage{
 height:200px;
 width:33%;
 background-color: blue;

}




.Homepage{
color:white;
}

.Tagline{
  Color:black;
  font-size:30px;
}
.ValueProp1{
  color:black;
  font-size:20px;
}

.ValueProp2{
  color:black;
font-size:20px;
}

.Title{
  font-size:100px;
color:black;
 font-size:8vw;
}

.button2 {
   border: 2px solid white;
  background-color: #2F2DEA;

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}

.button3 {
   border: 2px solid white;
  background-color: rgb(10, 106, 5);

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}

.button4  {
   border: 2px solid white;
  background-color:rgb(7, 22, 241);

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}
.button5 {
   border: 2px solid white;
  background-color: rgb(251, 8, 4);

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}

.button {
   border: 2px solid white;
  background-color: #2F2DEA;

  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:20px;
  border-radius: 12px;
}
.button:hover {
  background-color: #F58908  ;
  color: white;

}
.button2:hover {
  background-color: #F58908  ;
  color: white;

}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.columnhome {
  float: left;
  width: 33%;
  padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
color:white;}

.rowhome {margin: 0 -5px;
color:white;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.rowhome:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 100px;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(8, 106, 5 ,1));
}
.cardhome1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;

  height: 300px;

  background-image: linear-gradient(to top, rgba(255,255,255), rgba(10, 106, 5   ));
}

.cardhome2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;

  height: 300px;

  background-image: linear-gradient(to top, rgba(255,255,255), rgba(7, 22, 241  ));
}

.cardhome3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;

  height: 300px;

  background-image: linear-gradient(to top, rgba(255,255,255), rgba(251, 8, 4  ));
}


.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 100px;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(7, 22, 241 ,1));
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(10, 106, 5 ,1));
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,69,0,1));
}
.card7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: auto;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,69,0,1));
}

.card6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: auto;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,69,0,1));
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.personaldevelopment{
color:white;
}

.professionaldevelopment{
color:white;
}

.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: auto;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(11, 83, 140,1));
}
.card9 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,69,0,1));
}
.card8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;

  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(251, 8, 4,1));
}
.white{
color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #042B8C;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:lightgreen;
}
.column2 {
  float: center;
  width: 100%;
  padding: 0 10px;
}

.card10 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 100%;
  height: auto;
  font-size: 16px;
 border: 2px solid white;
  background-color:  rgba(11, 83, 140);
}

.center{

  margin: auto;
}

.GoalList,.GoalHeading,.GoalFooter{
   font-size: 20px;
   color: black;
  display: table;
  margin: 0 auto;
}
.card11 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 100px;
  font-size: 16px;
 border: 2px solid white;
background-color:  rgba(11, 83, 140);
}

.card12 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;
   background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(7, 22, 241 ,1));
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #042B8C;
  color: white;
}

.share1head{
 border:2px solid white;
 background-color:	#F8D007 ;
 color:white;
height:auto;
width:auto;
}
.tophome{
width:100%;
height:auto;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(7, 22, 241  ))
}
