html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
}


form {
    display: inline-block;

}
/* unvisited link */
a:link {
  color: white;

}

/* visited link */
a:visited {
  color: #07F5E3  ;
}


.card7 : a:link,a:visited {
  color:red;
  background-color: red;
  }

/* selected link */
a:hover {
  color: hotpink;
  background-color: lightgreen;
}
a:active{
  color:red;
}
body, html {
  height: 100%;
  margin: 0;
}
#header{
  background-image: url('../images/pexels-pixabay-267885.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


.imagehomepage{
border-radius: 50%;
border:5px solid white;
width:65%;
height:auto;

}
.image{
 border: 3px solid white;
 border-radius: 15px;
  padding: 20px;
  background-color:#60D7FA;
  border:
  box-shadow: 5px 10px 8px #888888;

}
#box1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registration ,.FinancialResources,.PersonalDevelopmentResources,.Experience,.AddResources{

 box-shadow: 5px 10px 8px #888888;
    background-color:#DCDCDC;
    width:auto;
    height:auto;
    border-radius: 15px;
    border:3px solid white;
}

.registrationpage2{
  background-color: #60D7FA;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px #888888;
border: 3px solid white;
}

.comments{
  color:black;
  font-size:20px;

  border-radius:15px;
  padding: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color:#60D7FA;
  border: 3px solid white;
  box-shadow: 5px 10px 8px #888888;


}
.jobpage{

  color:black;
font-size:20px;

border-radius:15px;
padding: 20px;
font-family: 'Montserrat Alternates', sans-serif;
background-color:#60D7FA;
border: 3px solid white;
box-shadow: 5px 10px 8px #888888;

}
.library{
  color:black;
font-size:20px;

border-radius:15px;
padding: 20px;
font-family: 'Montserrat Alternates', sans-serif;
background-color:#60D7FA;
border: 3px solid white;
box-shadow: 5px 10px 8px #888888;


}
.challenge{
  color:black;
font-size:20px;

border-radius:15px;
padding: 20px;
font-family: 'Montserrat Alternates', sans-serif;
background-color:#60D7FA;
border: 3px solid white;
box-shadow: 5px 10px 8px #888888;
}
.goalpage{
  color:black;
font-size:20px;

border-radius:15px;
padding: 20px;
font-family: 'Montserrat Alternates', sans-serif;
background-color:#60D7FA;
border: 3px solid white;
box-shadow: 5px 10px 8px #888888;
}

.newpage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  rgba(239, 243, 249  ,0.75);
    width:auto;
    height:100%;
    padding-top: 10px;
    padding-bottom:5px;
}

.boxheading {
box-shadow: 5px 10px 8px #888888;
  color:white;
  height:100px;
}




.menu{
  background-color: #042B8C   ;
  padding-top:5px;
  padding-bottom:5px;
  box-shadow: 5px 10px 8px #888888;
  border-radius:15px;

}

.container{

  background-color: rgba(220,220,220, 0.85);
  color:black;

}
.Personaldevhompage{
 height:200px;
 width:33%;
 background-color: blue;

}




.Homepage{
color:white;
}

.Tagline{
  Color:black;
  font-size:30px;
  text-shadow: 2px 2px #888888;
  font-family: 'Roboto', sans-serif;
}
.ValueProp1{
  color:black;
  font-size:20px;

  border: 3px solid white;
  font-family: 'Montserrat Alternates', sans-serif;


  border-radius:15px;
  padding: 20px;
  background-color:#60D7FA;

  box-shadow: 5px 10px 8px #888888;

}

.ValueProp2{
  color:black;
font-size:20px;

border-radius:15px;
padding: 20px;
font-family: 'Montserrat Alternates', sans-serif;
background-color:#60D7FA;
border: 3px solid white;
box-shadow: 5px 10px 8px #888888;

}

.Title{

color:black;
 font-size:10vw;
 font-family: 'Tangerine', cursive;
}

.button2 {
   border: 2px solid white;
  background-color: #2F2DEA;

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}

.button3 {
   border: 2px solid white;
  background-color: #0a6a05;

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}

.button4  {
   border: 2px solid white;
  background-color:#1241B6;

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}
.button5 {
   border: 2px solid white;
  background-color: #FB0840;

  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:15px;
  border-radius: 12px;
}

.button {
   border: 2px solid white;
  background-color: #2F2DEA;

  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size:20px;
  border-radius: 12px;
}
.button:hover {
  background-color: #F58908  ;
  color: white;

}
.button2:hover {
  background-color: #F58908  ;
  color: white;

}
.button3:hover {
  background-color: #F58908  ;
  color: white;

}
.button4:hover {
  background-color: #F58908  ;
  color: white;

}
.button5:hover {
  background-color: #F58908  ;
  color: white;

}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.columnhome {
  float: left;
  width: 33%;
  padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
color:white;}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 100px;
  box-shadow: 10px 10px 5px #aaaaaa;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(8, 106, 5 ));
}

.card:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
 box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 100px;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(7, 22, 241  ));

}
.card2:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(10, 106, 5 ));

}
.card4:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(255,69,0 ));

}

.card3:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}

}
.card7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: auto;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(255,69,0));

}
.card7:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}

.card6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: auto;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(255,69,0));

}
.card6:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.personaldevelopment{
color:white;
}

.professionaldevelopment{
color:white;
}

.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: auto;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(11, 83, 140 ));

}
.card5:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}

.card9 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(255,69,0 ));
}
.card9:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
}
.card8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;
background-image: linear-gradient(to top, rgba(255,255,255), rgba(251, 8, 4 ));

}
.card8:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}

.white{
color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #042B8C;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:lightgreen;
}
.column2 {
  float: center;
  width: 100%;
  padding: 0 10px;
}

.card10 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 100%;
  height: auto;
  font-size: 16px;
 border: 2px solid white;
  background-color:  rgba(11, 83, 140);
}
.card10:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
}

.center{

  margin: auto;
}

.GoalList,.GoalHeading,.GoalFooter{
   font-size: 20px;
   color: black;
  display: table;
  margin: 0 auto;
}
.card11 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
 box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 100px;
  font-size: 16px;
 border: 2px solid white;
background-color:  rgba(11, 83, 140);
}
.card11:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
}

.card12 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;

  border: 2px solid white;
  border-radius: 15px;
 box-shadow: 10px 10px 5px #aaaaaa;
  horizontal-align:center;
 vertical-align: center;
  width: 200px;
  height: 300px;
  background-image: linear-gradient(to top, rgba(255,255,255), rgba(7, 22, 241  ));

}

.card12:hover{
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);

}
footer {
  text-align: center;
  padding: 3px;
  background-color: #042B8C;
  color: white;
}

.share1head{
 border:2px solFiid white;
 background-color:	#F8D007 ;
 color:white;
height:auto;
width:auto;
}
.tophome{
width:auto;
height:auto;

  text-shadow: 2px 2px #888888;
border: 3px solid white;
border-radius:15px;
padding: 35px;
background-color:#60D7FA   ;
color:white;
box-shadow: 5px 10px 8px #888888;
}
 .Links{
   width:auto;
   height:auto;

border: 3px solid white;
   border-radius:15px;
   padding: 35px;
   background-color:#60D7FA;
   color:black;
   box-shadow: 5px 10px 8px #888888;

 }

.stand{

font-size:20px;


}

.PersonDev{
  width:auto;
  height:auto;


 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-image: linear-gradient(to top, rgba(255,255,255), #18F714);
  background-color:#046C05;
  color:black;
  box-shadow: 5px 10px 8px #888888;

}

.detailAdvice{
  width:auto;
  height:auto;
font-family: 'Roboto', sans-serif;
font-size: 18px;
 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-image: linear-gradient(to top, rgba(255,255,255), #4169e1);
  background-color:#046C05;
  color:black;
  box-shadow: 5px 10px 8px #888888;

}
.detailAdvice2{
  font-family: 'Roboto', sans-serif;
  width:auto;
  height:auto;
  font-size: 18px;
display: inline-block;
 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-image: linear-gradient(to top, rgba(255,255,255), #4169e1);
  background-color:#046C05;
  color:black;
  box-shadow: 5px 10px 8px #888888;

}

.bodypersonaldev{
  width:auto;
  height:auto;
 font-family: 'Roboto', sans-serif;
  border: 3px solid white;
  border-radius:15px;
  padding: 35px;
  background-image: linear-gradient(to top, rgba(255,255,255), #18F714);
  background-color:#046C05;
  color:black;
  box-shadow: 5px 10px 8px #888888;

}

.ProfessDev{

  width:auto;
  height:auto;

 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-image: linear-gradient(to top, rgba(255,255,255), #4169e1);
  background-color:#046C05;
  color:black;
  box-shadow: 5px 10px 8px #888888;

}

.Professionaldevbody{
  font-family: 'Roboto', sans-serif;
    width:auto;
    height:auto;

   border: 3px solid white;
    border-radius:15px;
    padding: 35px;
   background-image: linear-gradient(to top, rgba(255,255,255), #4169e1);
    background-color:#046C05;
    color:black;
    box-shadow: 5px 10px 8px #888888;

}

.goalpage2{

    width:auto;
    height:auto;

   border: 3px solid white;
    border-radius:15px;
    padding: 35px;
   background-color:  #60D7FA;

    color:black;
    box-shadow: 5px 10px 8px #888888

}

.login{


  width:auto;
  height:auto;
  font-family: 'Roboto', sans-serif;
  border: 3px solid white;
  border-radius:15px;
  padding: 35px;
  background-color:  #60D7FA;

  color:black;
  box-shadow: 5px 10px 8px #888888

}

.advice{


  color:black;

  width:auto;
  height:auto;
font-family: 'Roboto', sans-serif;
 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-color:  #60D7FA;

  color:black;
  box-shadow: 5px 10px 8px #888888
}
.advice2{
  width:auto;
  height:auto;
'Roboto', sans-serif;
 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-color:  #60D7FA;

  color:black;
  box-shadow: 5px 10px 8px #888888

}

.challenge2{
  width:auto;
  height:auto;

 border: 3px solid white;
  border-radius:15px;
  padding: 35px;
 background-color:  #60D7FA;

  color:black;
  box-shadow: 5px 10px 8px #888888

}

.FinanceSuccess{
  width:auto;
  height:auto;
  border: 3px solid white;
  border-radius:15px;
  padding: 35px;
  background-image: linear-gradient(to top, rgba(255,255,255), #E70910);
  background-color:#046C05;
  color:black;
  box-shadow: 5px 10px 8px #888888;

}
