{% extends "FirstApp/Base.html"%}

{%block Body_Block%}
<div >
<h2>Our Mission</h2>
<h4>Our mission is to enable people to get a high paying job or incraese their salary by 2x,3x,4x,5x or 10x.<br>
It is to bring happinesss and prosperity to this world.
</h4>

<h2>Our belief</h2>
<h4>We beleive that with right input and guidance a person can achieve vastly more than if we/she did not <br>
have that guidance.So we have talked to the top 20% income earners in each field of endevour and gathered information from them <br>
that ehat did the learned and from where and what did that enabled them to recah this position in their profssional life <br>
And now we bring that information to you so that you can achieve the same results. <h4>
<h2>Who are we?<h2>
  <h4>We are a team of 3 people Kartik Parihar,Anuraag Puri and Bahwna living in New Delhi ,India who have this mission<br>
  to bring happiness and prosperity to people of this world.We are passionate about bringing prosperity to people and <br>
  are working hard towards our mission.</h4>

<h2>What are we doing and what do we have to offer.</h2>
<h4>We re talking to the people who are top 20% income earners in their fields and asking them what did they learned and did<br>
that enabled them to reach that position and now we are bringing this information to other people so that they can achieve same results
from themselves and their family.<br><br>
We have the best in class in formation in fileds of professional development which will<br>
will help you improve your professional life ,we also have information on personal development which changes you personal life,<br>
physical health family life for good forever.<br><br>
We also have resources related to financial success which enables you to have a good financial status.<br><br>
Then we also bring to you the page of goals,the best thing on our website,we could give you just one thing on our website<br>
It would be the goals page .It is truly life changing,it has been life chaning to me and to millions of people worldwide.<br>
It enable people to loose weight ,double their income and become millionaires,it enables people to get thier dream job.It<br>
is truly amazing.It is said to be the most important thing ever learnt by the people using it.Try it once, you will be<br>
amazed by the outcome. 

<br><br>
Then we have challenges .By accomplishing these challenges you become the most expert,most knowledgeble,<br>
one of the highest paid(by accomplishing these challenges you will be in top 1% income earners in your field)<br>
and respected people in the world at what you do.
<br><br>
We have a virtual library where you can build your own library of the most important resources in your field.<br>
25 good resources in your field and you are on your way to top of your field.<br><br>

</h4>
<h2>Now live a happy and prosperous life.</h2>
</div>
{%endblock%}
