
{% extends "FirstApp/Base.html"%}
{% load static %}

{%block Body_Block%}
<br>



<div class="ProfessDev"><h1>Welcome to Important Information page</h1></div><br>
<div class="Professionaldevbody"><h3>This page is for college students and working professionals.</h3></div><br>
  <div class="Professionaldevbody"><h3>It contains important information for different<br>
  field,information such as how to prepare for job,salary,scope etc.</h3><br>


</div>
<br><br>
<div class="row">

  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Backup">Backup(Infra)</a></div><br>
    <div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div>
  </div>
  </div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Bank Po">Bank_Po</a></div><br>
    <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
  </div></div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Data analyst">Data Analyst</a></div><br>
   <div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div>
</div>

  </div>

  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Business">Business</a></div><br>
      <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
    </div>
  </div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=CAT">CAT</a></div>
<div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div>
  </div>
  </div>

  <div class="column">
    <div class="card2"><div> <a href="/detailAdvice/?field=Database">Database(Infra)</a></div><br>
      <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
  </div></div>
<div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=GMAT">GMAT</a></div>
<div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div>
  </div>
  </div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=IAS">IAS</a></div>
 <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
  </div>
  </div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Linux">Linux(Infra)</a></div>
    <div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div>
    </div>
  </div>
  <div class="column">
    <div class="card2"> <div><a href="/detailAdvice/?field=Medical">Medical</a></div><br>
  <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div></div>
  </div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Networking">Networking(Infra)</a></div><br>
 <div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div>
  </div>
  </div>
  <div class="column">
    <div class="card2"><div><a href="/detailAdvice/?field=Software development">Software_Developmemt</a></div><br>
   <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
  </div>
</div>
<div class="column">
  <div class="card2"><div><a href="/detailAdvice/?field=SSC CGL">SSC_CGL</a></div><br>
 <div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div></div>
</div>
<div class="column">
  <div class="card2"><div><a href="/detailAdvice/?field=Storage">Storage</a></div><br>
 <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
</div>
</div>
<div class="column">
  <div class="card2"><div><a href="/detailAdvice/?field=Swimming">Swimming</a></div><div>
  <img src="{% static "images/advice1.png" %}" height=40px width=40px></div></div>
</div>
<div class="column">
  <div class="card2"><div><a href="/detailAdvice/?field=Wintel">Wintel(Infra)</a></div>
  <div><img src="{% static "images/advice2.jpg" %}" height=40px width=40px></div>
</div>
</div>
<div class="column">
  <div class="card2"><div><a href="/detailAdvice/?field=Law">Law</a></div><br>
<div><img src="{% static "images/advice1.png" %}" height=40px width=40px></div></div>
</div>


</div>

{%endblock%}
