{% extends "FirstApp/Base.html"%}
{%block Body_Block%}<br><br>
<div class="white">Know about a good resource that you dont find on our website,<br>
    Add it to the Website.<br><br></div>

  <div class="orange"><a href="{% url 'FirstApp:AddResource' %}">Add a resource</a><br><br></div>
<div class="row">
  <ol>

    {%for resource in Resource%}


       {%if resource.Price != 0 %}
        <div class="column">
        <div class="card4"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        <b>Cost</b>Indian Rupees : {{resource.Price}}<br></div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              <b>Cost</b>Indian Rupees : {{resource.Price}}<br></div>
            </div>
{%endif%}



    {%endfor%}

  </ol>
</div>
  <br><br>


  {%endblock%}
