<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Base</title>
<link rel="stylesheet" href="{% static "css/mystyle.css"%}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>


  <body >
<div id="header">
<div class="container" style="background-color: rgba(255, 255, 255, 0.30)">

<ul>

      <li ><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{% url 'FirstApp:Personal_Development' %}">Personal Development</a></li>
     <li><a href="{% url 'FirstApp:Professional_Development' %}">Professional Development</a></li>
     <li><a href="{% url 'FirstApp:Financial_Success' %}">Financial Success</a></li>
        <li><a href="{% url 'FirstApp:Registration' %}">Register</a></li>
           <li><a href="{% url 'FirstApp:NewPage' %}">What's New</a></li>
              <li><a href="{% url 'FirstApp:CommentsAndSuggestions' %}">Comments and suggestions</a></li>
            </ul>




<div class="menu">
    ||  <a href="{%url 'FirstApp:GetAJob'%}">Get A High Paying Job or Increase my salary</a>  ||

     <a href="{% url 'FirstApp:MyLibrary' %}">My Library</a>  ||
     <a href="{%url 'FirstApp:MyGoal'%}">My Goal </a> ||

           <a href="{%url 'FirstApp:Challenge'%}">Challenges</a>  ||
            <a href="{%url 'FirstApp:AdvicePathsExperienceResources'%}">AdvicePathsExperienceResources</a>    ||
           {%if user.is_authenticated%}
            <a href="{%url 'logout'%}">Logout</a>
            {%else%}
            <a href="{%url 'FirstApp:user_login'%}">login</a>

            {%endif%}

</div>

         </nav>



   {%block Body_Block%}
<div >
<div class="Title">
  Careerboost<br></div>

<div class="Tagline">Be Better,Do Better,Live Better.<br></div>
<br><div class="ValueProp1" >This site is for college students and working professionals<br>
.</div>
<br><div class="ValueProp1" >We bring to you resources,advice,guidance to enable you to get a high paying<br>
job or increase you income by 2x,3x,4x,5x or 10x.These resources come directly from the<br>
top 10 % income earners inyour field,now what what made best the best.</div><br><br>
<div class="ValueProp2">
We also bring to you personal development and financial success resources which<br>
will change your life for good forever.</div>
</div>
<br><br><br>
<a href="{% url 'FirstApp:Personal_Development' %}" class="button"> Personal Development</a>

<a href="{% url 'FirstApp:Professional_Development' %}" class="button">Professional Development </a>
<a href="{% url 'FirstApp:Professional_Development' %}" class="button">Financial Success</a>


{%endblock%}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<div class="white">The website does not guarantee a high paying job or increase in salary and other things, it only provides the best guidance on these topics.</div>
<br>

</div>
</div>
  </body>
</html>
