{% extends "FirstApp/Base.html"%}
{%block Body_Block%}<br><br>
  <div class="detailAdvice">  Know about a good infomation resource that you dont find on our website,<br>
    Add it to the Website.<br><br>

  <a href="{% url 'FirstApp:AddExperience' %}" class="button2">Add a resource</a><br><br></div>

<br><br>

<b><div class="detailAdvice">Want excellent resources which would give you an edge.
 </b> <br><br>
<a href="{% url 'FirstApp:Professional_Development' %}" class="button2">Visit the page</a>
<br><br><br></div>
<h1 class="detailAdvice2">For College Students</h1>
<hr>
<div class="row">
  <ol>
<h4 class="detailAdvice3"> Scope and salary</h4>
  {%for resource in Resource%}

  {%if resource.Target_Audience == 'College Students' and resource.Subtopic == 'Scope and salary' %}


   {%if resource.Price != 0 %}
        <div class="column">
        <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        </div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              </div>
            </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3"> What,how and when to prepare</h4>


<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == 'College Students' and resource.Subtopic == 'What,how when to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>

 <h4 class="detailAdvice3"> Resume</h4>

<div class="row">
  <ol>
 {%for resource in Resource%}

 {%if resource.Target_Audience == 'College Students' and resource.Subtopic == 'Resume' %}

  {%if resource.Price != 0 %}
       <div class="column">
       <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Description :</b>{{resource.Description}}<br>
     <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
     <b>Type :</b>  {{resource.Type}}<br>
       </div>
     </div>
     {%else%}

             <div class="column">
             <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
             <b>Author :</b>{{resource.Author}}<br>
             <b>Description :</b>{{resource.Description}}<br>
           <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
           <b>Type :</b>  {{resource.Type}}<br>
             </div>
           </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
 <h4 class="detailAdvice3">From where to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == 'College Students' and resource.Subtopic == 'From where to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
<br><br>

</div>
<h4 class="detailAdvice3">How to apply for jobs</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == 'College Students' and resource.Subtopic == 'How to apply for jobs'%}




 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Others</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == 'College Students' and resource.Subtopic == 'Others' %}





 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h1 class="detailAdvice2">For 0-2yrs experience</h1>
<hr>
<h4 class="detailAdvice3">Scope and Salary</h4>

<div class="row">
  <ol>
 
  {%for resource in Resource%}

  {%if resource.Target_Audience == '0-2 yrs experience' and resource.Subtopic == 'Scope and salary' %}





   {%if resource.Price != 0 %}
        <div class="column">
        <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        </div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              </div>
            </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">What,how and when to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '0-2 yrs experience' and resource.Subtopic == 'What,how when to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">Resume</h4>

<div class="row">
  <ol>
 {%for resource in Resource%}

 {%if resource.Target_Audience == '0-2 yrs experience' and resource.Subtopic == 'Resume' %}

  {%if resource.Price != 0 %}
       <div class="column">
       <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Description :</b>{{resource.Description}}<br>
     <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
     <b>Type :</b>  {{resource.Type}}<br>
       </div>
     </div>
     {%else%}

             <div class="column">
             <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
             <b>Author :</b>{{resource.Author}}<br>
             <b>Description :</b>{{resource.Description}}<br>
           <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
           <b>Type :</b>  {{resource.Type}}<br>
             </div>
           </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">From where to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '0-2 yrs experience' and resource.Subtopic == 'From where to prepare'%}





 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
<br><br>

</div>
<h4 class="detailAdvice3">How to apply for jobs</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '0-2 yrs experience' and resource.Subtopic == 'How to apply for jobs'%}




 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Others</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '0-2 yrs experience' and resource.Subtopic == 'Others' %}





 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>




<h1 class="detailAdvice2">For 2-5 yrs Students</h1>
<hr>
<h4 class="detailAdvice3">Scope and Salary</h4>
<div class="row">
  <ol>

  {%for resource in Resource%}

  {%if resource.Target_Audience == '2-5 yrs experience' and resource.Subtopic == 'Scope and salary' %}





   {%if resource.Price != 0 %}
        <div class="column">
        <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        </div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              </div>
            </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">What,how and when to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '2-5 yrs experience' and resource.Subtopic == 'What,how when to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">Resume</h4>

<div class="row">
  <ol>
 {%for resource in Resource%}

 {%if resource.Target_Audience == '2-5 yrs experience' and resource.Subtopic == 'Resume' %}

  {%if resource.Price != 0 %}
       <div class="column">
       <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Description :</b>{{resource.Description}}<br>
     <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
     <b>Type :</b>  {{resource.Type}}<br>
       </div>
     </div>
     {%else%}

             <div class="column">
             <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
             <b>Author :</b>{{resource.Author}}<br>
             <b>Description :</b>{{resource.Description}}<br>
           <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
           <b>Type :</b>  {{resource.Type}}<br>
             </div>
           </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">From where to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '2-5 yrs experience' and resource.Subtopic == 'From where to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
<br><br>

</div>
<h4 class="detailAdvice3">How to apply for jobs</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '2-5 yrs experience' and resource.Subtopic == 'How to apply for jobs'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Others</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '2-5 yrs experience' and resource.Subtopic == 'Others' %}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h1 class="detailAdvice2">For 5-10 yrs experience</h1>
<hr>
<h4 class="detailAdvice3">Scope and Salary</h4>
<div class="row">
  <ol>

  {%for resource in Resource%}

  {%if resource.Target_Audience == '5-10 yrs experience' and resource.Subtopic == 'Scope and salary' %}

   {%if resource.Price != 0 %}
        <div class="column">
        <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        </div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              </div>
            </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">What,how and when to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '5-10 yrs experience' and resource.Subtopic == 'What,how when to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Resume</h4>
<div class="row">
  <ol>
 {%for resource in Resource%}

 {%if resource.Target_Audience == '5-10 yrs experience' and resource.Subtopic == 'Resume' %}





  {%if resource.Price != 0 %}
       <div class="column">
       <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Description :</b>{{resource.Description}}<br>
     <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
     <b>Type :</b>  {{resource.Type}}<br>
       </div>
     </div>
     {%else%}

             <div class="column">
             <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
             <b>Author :</b>{{resource.Author}}<br>
             <b>Description :</b>{{resource.Description}}<br>
           <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
           <b>Type :</b>  {{resource.Type}}<br>
             </div>
           </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">From where to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '5-10 yrs experience' and resource.Subtopic == 'From where to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
<br><br>

</div>
<h4 class="detailAdvice3">How to apply for jobs</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '5-10 yrs experience' and resource.Subtopic == 'How to apply for jobs'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Others</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '5-10 yrs experience' and resource.Subtopic == 'Others' %}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>


<h1 class="detailAdvice2">10-15yrs experience</h1>
<hr>
<h4 class="detailAdvice3">Scope and salary</h4>
<div class="row">
  <ol>

  {%for resource in Resource%}

  {%if resource.Target_Audience == '10-15 yrs experience' and resource.Subtopic == 'Scope and salary' %}

   {%if resource.Price != 0 %}
        <div class="column">
        <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        </div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              </div>
            </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">What,how and when to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '10-15 yrs experience' and resource.Subtopic == 'What,how when to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">Resume</h4>

<div class="row">
  <ol>
 {%for resource in Resource%}

 {%if resource.Target_Audience == '10-15 yrs experience' and resource.Subtopic == 'Resume' %}

  {%if resource.Price != 0 %}
       <div class="column">
       <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Description :</b>{{resource.Description}}<br>
     <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
     <b>Type :</b>  {{resource.Type}}<br>
       </div>
     </div>
     {%else%}

             <div class="column">
             <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
             <b>Author :</b>{{resource.Author}}<br>
             <b>Description :</b>{{resource.Description}}<br>
           <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
           <b>Type :</b>  {{resource.Type}}<br>
             </div>
           </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">From where to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '10-15 yrs experience' and resource.Subtopic == 'From where to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
<br><br>

</div>
<h4 class="detailAdvice3">How to apply for jobs</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '10-15 yrs experience' and resource.Subtopic == 'How to apply for jobs'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Others</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '10-15 yrs experience' and resource.Subtopic == 'Others' %}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>


<h1 class="detailAdvice2">For 15-20 yrs experience</h1>
<hr>
<h4 class="detailAdvice3">Scope and Salary</h4>
<div class="row">
  <ol>

  {%for resource in Resource%}

  {%if resource.Target_Audience == '15-20 yrs experience' and resource.Subtopic == 'Scope and salary' %}

   {%if resource.Price != 0 %}
        <div class="column">
        <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
        <b>Author :</b>{{resource.Author}}<br>
        <b>Description :</b>{{resource.Description}}<br>
      <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
      <b>Type :</b>  {{resource.Type}}<br>
        </div>
      </div>
      {%else%}

              <div class="column">
              <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
              <b>Author :</b>{{resource.Author}}<br>
              <b>Description :</b>{{resource.Description}}<br>
            <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
            <b>Type :</b>  {{resource.Type}}<br>
              </div>
            </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">What,how and when to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '15-20 yrs experience' and resource.Subtopic == 'What,how when to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>

<h4 class="detailAdvice3">Resume</h4>

<div class="row">
  <ol>
 {%for resource in Resource%}

 {%if resource.Target_Audience == '15-20 yrs experience' and resource.Subtopic == 'Resume' %}

  {%if resource.Price != 0 %}
       <div class="column">
       <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Description :</b>{{resource.Description}}<br>
     <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
     <b>Type :</b>  {{resource.Type}}<br>
       </div>
     </div>
     {%else%}

             <div class="column">
             <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
             <b>Author :</b>{{resource.Author}}<br>
             <b>Description :</b>{{resource.Description}}<br>
           <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
           <b>Type :</b>  {{resource.Type}}<br>
             </div>
           </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">From where to prepare</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '15-20 yrs experience' and resource.Subtopic == 'From where to prepare'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}
{%endfor%}
</ol>
<br><br>

</div>
<h4 class="detailAdvice3">How to apply for jobs</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '15-20 yrs experience' and resource.Subtopic == 'How to apply for jobs'%}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>
<h4 class="detailAdvice3">Others</h4>

<div class="row">
  <ol>
{%for resource in Resource%}

{%if resource.Target_Audience == '15-20 yrs experience' and resource.Subtopic == 'Others' %}

 {%if resource.Price != 0 %}
      <div class="column">
      <div class="card12"><li><b>Title :{{resource.Title}}</b></li>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Description :</b>{{resource.Description}}<br>
    <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
    <b>Type :</b>  {{resource.Type}}<br>
      </div>
    </div>
    {%else%}

            <div class="column">
            <div class="card3"><li><b>Title :{{resource.Title}}</b></li>
            <b>Author :</b>{{resource.Author}}<br>
            <b>Description :</b>{{resource.Description}}<br>
          <b>Url to resource :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
          <b>Type :</b>  {{resource.Type}}<br>
            </div>
          </div>


{%endif%}
{%endif%}

{%endfor%}
</ol>
</div>
<br><br>

</div>

{%endblock%}
