{%extends "FirstApp/Base.html"%}
    <title>Backup</title>

{%block Body_Block%}<br>
<div class="FinanceSuccess"><div class="white"><h1>Welcome to financial success page.</h1></div>
  <h3>It is not what you earn that makes you rich it is what you keep.Learn the <br>
the best ideas about financial success and let your money eaern more money by itself.</h3>

<br>
 <a href="{% url 'FirstApp:Add_Financial_Success_Resource' %}"class="button2">Add a resource</a>
<br><br></div><br>
<div class="row">
 <ol>
   {%for resource in Resource%}

{%if resource.Price != 0 %}
<div class="column">
  <div class="card8">
   <li><b>Title :{{resource.Name_Of_Resource}}</b></li>
   <b>Author :</b>{{resource.Author}}<br>

 <b>Url :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
 <b>Type :</b>  {{resource.Type}}<br>
   <b>Cost</b>Indian Ruppess : {{resource.Price}}<br>
</div></div>
{%else%}
<div class="column">
  <div class="card9">
   <li><b>Title :{{resource.Name_Of_Resource}}</b></li>
   <b>Author :</b>{{resource.Author}}<br>

 <b>Url :</b><a href="{{resource.Url}}" class="button2">Go to link</a><br>
 <b>Type :</b>  {{resource.Type}}<br>
   <b>Cost</b>Indian Ruppess : {{resource.Price}}<br>
</div></div>
{%endif%}
   {%endfor%}
 </ol>

</div>

{%endblock%}
