{% extends "FirstApp/Base.html"%}
{%block Body_Block%}
    <form action="{%url 'FirstApp:user_login'%}" method='POST'>
      {%csrf_token%}<br><br>
      <label for="username"><div class="white">Username</div></label>
      <input type="text" name="username" placeholder="Enter Username"><br><br>
      <label for="password"><div class="white">Password</div></label>
      <input type="Password" name="password" placeholder="Enter Password"><br><br>
      <input type="Submit" value="Login" class="btn-primary">
    </form>
<br>
   Not registred yet?
   Register at :<a href="{% url 'FirstApp:Registration' %}">Register</a>
<br>
    {%if message%}<script>
        alert('{{ message }}');
    </script>{%endif%}
  {%endblock%}
