{% extends "FirstApp/Base.html"%}

{%block Body_Block%}
{% load bootstrap3 %}
<div >
<h1>This is the ultimate thing,<br>GOALS</h1>
 Goal play such an important role in success that we have devted a seperate <br>
 page to it.This is one of the most important page on this website.<br>
 <h4>Do this one thing and it will change your life forever.</h4>
<br>
 A person with a goal accomplishes vastly more than a person who does not set goal<br>
 Here is a life changing video to on goals.<br><br>
 <a href="https://www.youtube.com/watch?v=XktHAwYK1Xw" class="button">Go to video</a>
<br><br><br>
<p>
  <hr>
<h4><div ="GoalHeading">  The goals checklist:(on this site we are primarily focused on career goals right now.)</div></h4><br>

<ol class="GoalList">
  <li>I have a clear ,specific goal.</li><br>
<li>I have set a deadline to achieve that goal.</li><br>
<li>I found out the specialized knowledge and skills that  I need to achieve the goal.</li><br>
<li>I have listed all the things I need to do or practice in order to achieve the goal.</li><br>
<li>I have oraganized the list into a sequence of steps that I need to take in order
     to achieve my goal.</li><br>
<li>I know which 20% of the things will produce 80% of the result.</li><br>
<li>I have set aside a specific block of time everyday(one hour or even more) to work
on my goal.</li><br>

<li>I do something  every single day in the specified time to achieve my goal.</li><br><br><br>
</ol>



<div class="GoalFooter">
  If the answer to all above steps is Yes then soon you will meets success at<br>
  your biggest goals in common hours.<br><br><br>

  <b>Best of luck and happy journey</b>

</p>

The above mentioned paragraph is the secret to huge success.

<h4><b>TIP:Set big goals</b></h4>
<h4><b>Target one Career.</b></h4>
<hr>
<br><br><br>
</div>

    <H1>Here is your goal.</h1>
      <div class="row">
        <ol>

          {%for g in goal%}


             {%if g.Price != 0 %}
              <div class="column">
              <div class="card11">
                <li><b>Subject skill :</b >{{g.Goal_subject}}<br>
                <b>Url :</b><a href="{{g.Subject_Url}}" class="button2">Go to link</a></li>
              </div></div>
              {%else%}
              <div class="column">
              <div class="card11">
                <li><b>Subject skill :</b >{{g.Goal_subject}}</li>

                <b>Url :</b><a href="{{g.Subject_Url}}"class="button2">Go to link</a>
              </div></div>
              {%endif%}
               {%endfor%}</ol></div></div>


<br><br><br><br><br>

<h1>Enter resources for you goal</h1>
      <form method="POST" class="form">

        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="Subject" placeholder="Enter Subject"><br><br>
        <label for="url">Enter Url</label>

        <input type="url" name="Url" placeholder="Enter Url"><br><br>

      {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
  </form>

  {%if message%}<script>
      alert('{{ message }}');
  </script>{%endif%}
{%endblock%}
