{% extends "FirstApp/Base.html"%}
{% load bootstrap3 %}
{%block Body_Block%}<br><br>
  <div >  <H1>This is your Library.</h1>
      <h4>Build a virtual library with most important resources in your field.</h4>
      <ol>
    <div class="row">
      {%for resource in MyLibrary%}
      {%if resource.Price != 0 %}
      <div class="column">
        <div class="card5">
      <li><b>Subject :</b>{{resource.Subject}}<br>
      <b>Author :</b>{{resource.Author}}<br>
      <b>Price :</b>{{resource.Price}}<br>
       <b>Url :</b><a href="{{resource.Url}}">Go to link</a><br></li></div></div>
       <div class="column">
         <div class="card4">
       <li><b>Subject :</b>{{resource.Subject}}<br>
       <b>Author :</b>{{resource.Author}}<br>
       <b>Price :</b>{{resource.Price}}<br>
        <b>Url :</b><a href="{{resource.Url}}">Go to link</a><br></li></div></div>
       {%endif%}
      {%endfor%}
    </ol>
</div>
<br><br><br>
<h3><div >Enter a resource into your library.</div></h3>
<div class="registration">

      <form method="POST" class="form">

      {% csrf_token %}
      <label for="Subject">Subject</label>
      <input type="text" name="Subject" placeholder="Enter Subject"><br><br>
      <label for="Author">Author</label>
      <input type="text" name="Author" placeholder="Enter Author"><br><br>
      <label for="Url">Url</label>
      <input type="url" name="Url" placeholder="Enter Url"><br><br>

      {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
  </form></div></div>
  {%if message%}<script>
      alert('{{ message }}');
  </script>{%endif%}
{%endblock%}
