<!DOCTYPE html>
{% extends "FirstApp/Base.html"%}

{%block Body_Block%}
<div class="personaldevelopment"><h1>Welcome to personal development page</h1>
<h3>This page contains a list of best personal development coaches in the world.<br>
  They provide life transforming information,which could change<br> your<br>
 family life,physical health,carrer, financial life and Personal life for good forever.</h3>
<br><br><br></div>


<div class="row">
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Brian_Tracy' %}">Brian Tracy</a></td> <td></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Earl_Nightingale' %}">Earl Nightingale</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Jack_Canfield' %}">Jack Canfield</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Jim_Rohn' %}">Jim Rohn</a></div>
  </div>
  <div class="column">
    <div class="card"> <a href="{% url 'FirstApp:Napolean_Hill' %}">Napolean Hill</a></div>
  </div>
<div class="column">
    <div class="card"><a href="{% url 'FirstApp:Robin_Sharma' %}">Robin Sharma</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Shiv_Khera' %}">Shiv Khera</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Steven_R_Covey' %}">Steven R. Covey</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Napolean_Hill' %}">Tony Robbins</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Wayne_Dyer' %}">Wayne Dyer</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="{% url 'FirstApp:Zig_Ziglar' %}">Zig Ziglar</a></div>


</div>
</div>
{%endblock%}
