<!DOCTYPE html>
{% extends "FirstApp/Base.html"%}

{%block Body_Block%}<br>
<div class="PersonDev "><h1>Welcome to personal development page</h1></div><br>
<div class="bodypersonaldev"><h3>This page is for college students and working professionals.</h3></div><br>
<div class="bodypersonaldev"><h3>  It contains a list of best personal development coaches in the world.<br>
  They provide life transforming information,which could change your<br>
 family life,physical health,career, financial life and Personal life for good forever.</h3>
<br><br><br>

<a href="{% url 'FirstApp:Add_Personal_Development_Resource' %}" class="button2">Add a resource</a><br><br></div>


<br><br>
<div class="row">
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Brian Tracy">Brian Tracy</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Earl Nightingale">Earl Nightingale</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Jack Canfield">Jack Canfield</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Jim Rohn">Jim Rohn</a></div>
  </div>
  <div class="column">
    <div class="card"> <a href="/DetailPersonalDevelopment/?author=Napolean Hill">Napolean Hill</a></div>
  </div>
<div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Robin Sharma">Robin Sharma</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Shiv Khera">Shiv Khera</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Steven R Covey">Steven R. Covey</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Tony Robbins">Tony Robbins</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Wayne Dyer">Wayne Dyer</a></div>
  </div>
  <div class="column">
    <div class="card"><a href="/DetailPersonalDevelopment/?author=Zig Ziglar">Zig Ziglar</a></div>


</div>
</div>
{%endblock%}
