<!DOCTYPE html>
{% extends "FirstApp/Base.html"%}

{%block Body_Block%}

<div class="personaldevelopment"><h1>Welcome to Professional development page</h1>
<h3>This page contains a list various fields ,we provide you the best resources in each<br>
   of these fields which will enable you to get a high paying job, increase your <br>
   salry by 2x,3x,4x,5x and 10x or simply ,become one of the best in the <b>world</b> <br>
   at what you do. </h3></div>

<br><br>
<div class="row">
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:Backup' %}">Backup(Infra)</a></td> <td></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:Bank_Po' %}">Bank_Po</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:Business' %}">Business</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:CAT' %}">CAT</a></div>
  </div>
  <div class="column">
    <div class="card2"> <a href="{% url 'FirstApp:Database' %}">Database(Infra)</a></div>
  </div>
<div class="column">
    <div class="card2"><a href="{% url 'FirstApp:GMAT' %}">GMAT</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:IAS' %}">IAS</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:Linux' %}">Linux(Infra)</a></div>
  </div>
  <div class="column">
    <div class="card2"> <a href="{% url 'FirstApp:Medical' %}">Medical</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:Networking' %}">Networking(Infra)</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="{% url 'FirstApp:Software_Development' %}">Software_Developmemt</a></div>
</div>
<div class="column">
  <div class="card2"><a href="{% url 'FirstApp:SSC_CGL' %}">SSC_CGL</a></div>
</div>
<div class="column">
  <div class="card2"><a href="{% url 'FirstApp:Storage' %}">Storage</a></div>
</div>
<div class="column">
  <div class="card2"><a href="{% url 'FirstApp:Swimming' %}">Swimming</a></div>
</div>
<div class="column">
  <div class="card2"><a href="{% url 'FirstApp:Wintel' %}">Wintel(Infra)</a></div>
</div>
<div class="column">
  <div class="card2"><a href="{% url 'FirstApp:Law' %}">Law</a></div>
</div>


</div>



{%endblock%}
