<!DOCTYPE html>
{% extends "FirstApp/Base.html"%}

{%block Body_Block%}

<div class="personaldevelopment"><h1>Welcome to Professional development page</h1>
<h3>This page is for college students and working professionals.It contains a<br>
   list various fields ,we provide you the best resources in each<br>
   of these fields which will enable you to get a high paying job, increase your <br>
   salry by 2x,3x,4x,5x and 10x or simply ,become one of the best in the <b>world</b> <br>
   at what you do. </h3></div>

<a href="{% url 'FirstApp:AddResource' %}" class="button2">Add a resource</a><br><br>

<br><br>
<div class="row">

  <div class="column">
    <div class="card2"><a href="/detail12345/?{{resource}}">Backup(Infra)</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=Bank Po">Bank_Po</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=Business">Business</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=CAT">CAT</a></div>
  </div>
  <div class="column">
    <div class="card2"> <a href="/detail12345/?field=Database">Database(Infra)</a></div>
  </div>
<div class="column">
    <div class="card2"><a href="/detail12345/?field=GMAT">GMAT</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=IAS">IAS</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=Linux">Linux(Infra)</a></div>
  </div>
  <div class="column">
    <div class="card2"> <a href="/detail12345/?field=Medical">Medical</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=Networking">Networking(Infra)</a></div>
  </div>
  <div class="column">
    <div class="card2"><a href="/detail12345/?field=Software development">Software_Developmemt</a></div>
</div>
<div class="column">
  <div class="card2"><a href="/detail12345/?field=SSC CGL">SSC_CGL</a></div>
</div>
<div class="column">
  <div class="card2"><a href="/detail12345/?field=Storage">Storage</a></div>
</div>
<div class="column">
  <div class="card2"><a href="/detail12345/?field=Swimming">Swimming</a></div>
</div>
<div class="column">
  <div class="card2"><a href="/detail12345/?field=Wintel">Wintel(Infra)</a></div>
</div>
<div class="column">
  <div class="card2"><a href="/detail12345/?field=Law">Law</a></div>
</div>


</div>

{%endblock%}
