{% extends "FirstApp/Base.html"%}
{% load bootstrap3 %}
{%block Body_Block%}
    <br><div class="registrationpage2"><h1>Welome to regisrtation page</h1></div><br>
    <div class="registrationpage2"><h3>Register here to gain access to all the features of the website</h3></div>

    <br>
   <div class="registration">
    <h4>Registration form</h4>
    <br><br>

    <form method="POST" class="form">

    {% csrf_token %}
    {% bootstrap_form forms %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>
</div>
  </form>
  {%if message%}<script>
      alert('{{ message }}');
  </script>{%endif%}
  {%endblock%}
