{% extends "FirstApp/Base.html"%}
{% load bootstrap3 %}
{%block Body_Block%}
    <h1>Welome to regisrtation page</h1>
    <h3>Register here to gain access to all the features of the website</h3>

    <br><br>
    <h4>Registration form</h4>
    <br><br>
    <form method="POST" class="form">

    {% csrf_token %}
    {% bootstrap_form forms %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>
  </form>
  {%if message%}<script>
      alert('{{ message }}');
  </script>{%endif%}
  {%endblock%}
