{% extends "FirstApp/Base.html"%}

{%block Body_Block%}
<div ><br><br><br><br>
<h3>Hi all we need some help from you.If you like our mission of enabling you to get a <br>
high paying job or incraesing your salary multiple times and please share us our link<br>
www.careerboost.co.in with as many people as you can.If You wish your family and friends<br>
get that high paying job or increase thwie salary with multiple times then share our website<br>
www.careerboost.co.in with family friends.Share us on whatsapp,facebook,instagram,twitter,reddit,linkedin<br>
 and help us grow.
</h3><br><br><br>

<h3>Pleaase support us in your mission and help us grow,with growth we will be able to serve <br>
  to even better .</h3></div>
{%endblock%}
