{% extends "FirstApp/Base.html"%}
{%block Body_Block%}
<br><br><div class="white"><b>Want to know what skills/resources are needed to<br> get a high paying job or be successful in {{field1}}
   visit our Professional Developemnt page .</b></div><br>
<a href="{% url 'FirstApp:Professional_Development' %}" class="button2">Visit the page</a><br><br><br><br>
<div class="center">
<div class="row">
{%for detail in AllDetails%}
<div class="column2">
  <div class="card10">
<h2>{{detail.field}}</h2>
<b>Name :</b>{{detail.User_Name}} <b>   Role :</b>{{detail.Role}} <b>  Company :</b>{{detail.Company}}<br>
_____________________________________________________________<br>
<b><u>Target Section</u> :</b>{{detail.Target_Section}}<br><br>
<b><u>Advice </u>:</b>{{detail.AdviceforGoalAttainment}}<br><br>
<b><u>Self Experience</u> :</b>{{detail.SelfExperience}}<br><br>
<b><u>Paths</u> :</b>{{detail.Paths}}<br><br>
<b><u>Resources Used</u> :</b>{{detail.ResourcesUsed}}<br><br>
</div>
</div>
{%endfor%}
</div></div>
  {%endblock%}
